.profile__edit-button {
  background: url(../../../images/edit-button.svg) transparent center no-repeat;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #ffffff;
  align-self: center;
}

@media screen and (max-width: 426px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
  }
}
