.profile__edit-button {
  background: url(../../../images/edit-button.svg) transparent center no-repeat;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #ffffff;
  align-self: center;
  margin-top: 9px;
}

@media screen and (max-width: 810px) {
  .profile__edit-button {
    margin: 0;
    min-width: 18px;
    min-height: 18px;
  }
}
