.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  padding-right: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 34vw;
}

@media screen and (max-width: 1200px) {
  .profile__name {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 810px) {
  .profile__name {
    padding-right: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 426px) {
  .profile__name {
    padding-left: 28px;
    font-size: 27px;
    line-height: 33px;
    max-width: 230px;
  }
}
