.elements {
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 426px) {
  .elements {
    padding-top: 36px;
    grid-template-columns: 1fr;
    width: fit-content;
    gap: 20px;
  }
}
