.popup__error {
  margin: 0;
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  min-height: 28px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .popup__error {
    margin: 0 22px;
  }
}
